# {{ ansible_managed }}

auto {{ provider_bridge_device }}
{% if hostvars[inventory_hostname][provider_interface]['ipv4'] is defined %}
iface {{ provider_bridge_device }} inet static
    address {{ hostvars[inventory_hostname][provider_interface]['ipv4']['address'] }}
    netmask {{ hostvars[inventory_hostname][provider_interface]['ipv4']['netmask'] }}
{% else %}
iface {{ provider_bridge_device }} inet manual
    up ip link set dev $IFACE up
    down ip link set dev $IFACE down
{% endif %}
